.el-btn-wrapper {
	flex-wrap: wrap;
	justify-content: space-evenly;
}



.el-btn-container {
	display: inline-block;

	text-align: center;
	flex: 0 0 21%;
	
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	
	cursor: pointer;
	transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}



.el-btn-container a {
	color: #494949;

	font-size: 15px;
	font-weight: 400;

	display: inline-block;
	line-height: 32px;
	padding: 6px 28px;

	text-transform: capitalize;
	white-space: nowrap;

}

/* Font-Awesome */
.el-btn-container .fa-size {
	font-size: 15px;
	margin-right: 7px;
	cursor: pointer;
}



/* ==== Hover ==== */

.el-btn-container:hover {
	border-color: #3a3a3a;
}

.el-btn-container:active {
	position: relative;
	top: 1px;
}



