/* Global */

*, ::after, ::before, :after, :before {
    box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	width: 90%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}




.empty-space-1 {
	padding-top: 100px;
}

.empty-space-2 {
	padding-top: 300px;
}